<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rtu>
	<ntp>
		<server>203.248.240.140</server>
	</ntp>
	<gather>
		<channel>
			<id>0</id>
			<name>ModbusTCP1</name>
			<protocol>MTC</protocol>
			<ip>172.168.10.126</ip>
			<port>502</port>
			<bindAddress>
				<name>LAN1</name>
				<value>172.168.10.102</value>
			</bindAddress>
			<slaveAddress>000</slaveAddress>
			<period>250</period>
			<subscription>
				<DO>
					<data>
						<id>MTC00DO00001</id>
						<original>1</original>
						<description>INV-1_Voltage</description>
					</data>
					<data>
						<id>MTC00DO00002</id>
						<original>2</original>
						<description>INV-1_Current</description>
					</data>
				</DO>
				<DI>
					<data>
						<id>MTC00DI00001</id>
						<original>1</original>
						<description>INV-2_Voltage</description>
					</data>
					<data>
						<id>MTC00DI00002</id>
						<original>2</original>
						<description>INV-2_Current</description>
					</data>
				</DI>
				<AI>
					<data>
						<id>MTC00AI00001</id>
						<original>1</original>
						<description>INV-3_Voltage</description>
					</data>
					<data>
						<id>MTC00AI00002</id>
						<original>2</original>
						<description>INV-3_Current</description>
					</data>
				</AI>
				<AO>
					<data>
						<id>MTC00AO00001</id>
						<original>1</original>
						<description>INV-4_Voltage</description>
					</data>
					<data>
						<id>MTC00AO00002</id>
						<original>2</original>
						<description>INV-4_Current</description>
					</data>
				</AO>
			</subscription>
		</channel>
		<channel>
			<id>1</id>
			<name>ModbusSerial1</name>
			<protocol>MSC</protocol>
			<serialPort>com1</serialPort>
			<baudRate>9600</baudRate>
			<period>250</period>
			<slaveAddress>000</slaveAddress>
			<subscription>
				<DO>
					<data>
						<id>MSC01DO00001</id>
						<original>1</original>
						<description>INV-1_Voltage</description>
					</data>
					<data>
						<id>MSC01DO00002</id>
						<original>2</original>
						<description>INV-1_Current</description>
					</data>
				</DO>
				<DI>
					<data>
						<id>MSC01DI00001</id>
						<original>1</original>
						<description>INV-2_Voltage</description>
					</data>
					<data>
						<id>MSC01DI00002</id>
						<original>2</original>
						<description>INV-2_Current</description>
					</data>
				</DI>
				<AI>
					<data>
						<id>MSC01AI00001</id>
						<original>1</original>
						<description>INV-3_Voltage</description>
					</data>
					<data>
						<id>MSC01AI00002</id>
						<original>2</original>
						<description>INV-3_Current</description>
					</data>
				</AI>
				<AO>
					<data>
						<id>MSC01AO00001</id>
						<original>1</original>
						<description>INV-4_Voltage</description>
					</data>
					<data>
						<id>MSC01AO00002</id>
						<original>2</original>
						<description>INV-4_Current</description>
					</data>
				</AO>
			</subscription>
		</channel>
		<channel>
			<id>2</id>
			<name>OPCUA1</name>
			<protocol>OUC</protocol>
			<accessAddress>opc.tcp://LAPTOP-RGFGU83N:53530/OPCUA/SimulationServer</accessAddress>
			<security>Sign</security>
			<encryption>Basic 256</encryption>
			<authentication>Anonymous</authentication>
			<subscription>
				<DO>
					<data>
						<id>OUC02DO00001</id>
						<nodeId>ns=3;i=1001</nodeId>
						<description>Control Attribute</description>
						<dataType>String</dataType>
					</data>
					<data>
						<id>OUC02DO00002</id>
						<nodeId>ns=3;i=1002</nodeId>
						<description>Staus Attribute</description>
						<dataType>Int32</dataType>
					</data>
				</DO>
				<DI>
					<data>
						<id>OUC02DI00001</id>
						<nodeId>ns=3;i=1003</nodeId>
						<description>Control Attribute</description>
						<dataType>String</dataType>
					</data>
					<data>
						<id>OUC02DI00002</id>
						<nodeId>ns=3;i=1004</nodeId>
						<description>Staus Attribute</description>
						<dataType>Int32</dataType>
					</data>
				</DI>
				<AO>
					<data>
						<id>OUC02AO00001</id>
						<nodeId>ns=3;i=1005</nodeId>
						<description>Control Attribute</description>
						<dataType>String</dataType>
					</data>
					<data>
						<id>OUC02AO00002</id>
						<nodeId>ns=3;i=1006</nodeId>
						<description>Staus Attribute</description>
						<dataType>Int32</dataType>
					</data>
				</AO>
			</subscription>
		</channel>
		<channel>
			<id>3</id>
			<name>ModbusTCP1</name>
			<protocol>MTC</protocol>
			<ip>172.168.10.126</ip>
			<port>502</port>
			<bindAddress>
				<name>LAN1</name>
				<value>172.168.10.102</value>
			</bindAddress>
			<slaveAddress>000</slaveAddress>
			<period>250</period>
		</channel>
	</gather>
</rtu>
<!--
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rtu>
	<data>
		<id>OUC02DO00001</id>
		<nodeId>ns=3;i=1001</nodeId>
		<description>Control Attribute</description>
		<dataType>String</dataType>
	</data>
	<data>
		<id>OUC02DO00002</id>
		<nodeId>ns=3;i=1002</nodeId>
		<description>Staus Attribute</description>
		<dataType>Int32</dataType>
	</data>
	<data>
		<id>OUC02DI00001</id>
		<nodeId>ns=3;i=1003</nodeId>
		<description>Control Attribute</description>
		<dataType>String</dataType>
	</data>
	<data>
		<id>OUC02DI00002</id>
		<nodeId>ns=3;i=1004</nodeId>
		<description>Status Attribute</description>
		<dataType>Int32</dataType>
	</data>
	<data>
		<id>OUC02AO00001</id>
		<nodeId>ns=3;i=1005</nodeId>
		<description>Control Attribute</description>
		<dataType>String</dataType>
	</data>
	<data>
		<id>OUC02AO00002</id>
		<nodeId>ns=3;i=1006</nodeId>
		<description>Status Attribute</description>
		<dataType>Int32</dataType>
	</data>
</rtu>-->
